<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
  <title>Liste des artistes</title>
</head>
<body>
<div class="container">
  <div layout:fragment="content">
    <h1 th:if="${artists != null}" th:text="|${artists.firstname} ${artists.lastname}|">Nom inconnu</h1>
    <h1 th:if="${artists == null}">Artiste non trouvé</h1>

    <h2>Liste des types</h2>
    <ul>
      <li th:each="type : ${artists.types}" th:text="${type.type}">Type</li>
      <li th:if="${artists == null || #lists.isEmpty(artists.types)}">Aucun type disponible</li>
    </ul>

    <nav>
      <a th:href="@{/artists}">Retour à l'index</a>
    </nav>
  </div>
</div>
</body>
</html>